{% extends 'layout.html' %}
{% block content %}

  <div class="map-wrapper">
    <div class="row">
      <div class="col s12">
        <div class="card-panel  teal lighten-3 map-wrapper">
          <span>
            <div id="map"></div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Trip Option Form -->
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel  teal lighten-3 clearfix" id="form">
        <span>
          <form id="options-panel">
            <div class="row">
              <div class="form-group">
                <div class="input-field col s10">
                  <select id="hotel-options">
                    <option value="" disabled selected>Choose your hotel</option>
<!--                     {% for hotels in hotel %}
                        <option value='{{ hotels.id }}'>{{ hotels.name }}</option>
                    {% endfor %} -->
                  </select>
                  <label class="white-text">Hotel</label>
                </div>
                <div class="col s2">
                  <a data-id="hotel" class="btn-floating teal add-btn"><i class="material-icons">add</i></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="input-field col s10">
                  <select id="restaurant-options">
                    <option value="" disabled selected>Choose your restaurants</option>
<!--                     {% for restaurants in restaurant %}
                        <option value='{{ restaurants.id }}'>{{ restaurants.name }}</option>
                    {% endfor %} -->
                  </select>
                  <label class="white-text">Restaurant</label>
                </div>
                <div class="col s2">
                  <a data-id="restaurant" class="btn-floating teal add-btn"><i class="material-icons">add</i></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <div class="input-field col s10">
                  <select id="activity-options">
                    <option value="" disabled selected>Choose your activities</option>
<!--                     {% for activitys in activity %}
                        <option value='{{ activitys.id }}'>{{ activitys.name }}</option>
                    {% endfor %} -->
                  </select>
                  <label class="white-text">Activity</label>
                </div>
                <div class="col s2">
                  <a data-id="activity" class="btn-floating teal add-btn"><i class="material-icons">add</i></a>
                </div>
              </div>
            </div>
          </form>

        </span>
      </div>
    </div>


  <!-- Day Details -->
  <div class="col s12 m6">
    <div class="card-panel teal lighten-3" id="itinerary">
      <span>
      <div class="row" id="days">
        <p><span id="day-title">Day 1</span> <a class="btn-floating white remove-day"><i class="material-icons teal-text">close</i></a></p>
        <div id="day-buttons">
          <a class="btn-floating white current-day day-button teal-text">1</a>
        </div>
        <a class="btn-floating white add-day"><i class="material-icons teal-text">add</i></a>
      </div>
        <div class="row">
          <div class="col s12" id="itinerary-items">
            <p class="day-category white-text"> My Hotel</p>
            <ul id="hotel-itinerary">
              <!-- <li><a class="btn-floating teal"><i class="material-icons">close</i></a> Club Quarters</li> -->
            </ul>
            <p class="day-category white-text">My Restaurants</p>
            <ul id="restaurant-itinerary">
            </ul>
            <p class="day-category white-text">My Activities</p>
            <ul id="activity-itinerary">
            </ul>
          </div>
      </span>
    </div>
  </div>

  {% endblock %}
