<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/jquery/jquery.min.js"></script>
    <link href="materialize-css/css/materialize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <script src="materialize-css/js/materialize.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJAUYSnwTP-s2xb1Ujzutdjw7ry9ociN0&sensor=true"></script>
    <title>Trip Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="z-depth-0">
        <div class="nav-wrapper white">
          <a href="#!" class="brand-logo red-text text-lighten-2"><i class="material-icons">explore</i>TripPlanner</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons red-text text-lighten-2">menu</i></a>
          <ul class="right hide-on-small-and-down">
            <div class="nav-icons">
              <li><a href="sass.html"><i class="material-icons red-text text-lighten-2">home</i></a></li>
              <li><a href="badges.html"><i class="material-icons red-text text-lighten-2">info</i></a></li>
              <li><a href="collapsible.html"><i class="material-icons red-text text-lighten-2">email</i></a></li>
            </div>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html" class="red-text text-lighten-2">Home</a></li>
            <li><a href="badges.html" class="red-text text-lighten-2">About</a></li>
            <li><a href="collapsible.html" class="red-text text-lighten-2">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>

    {% block content %}{% endblock %}
    </div>
    <div>
    </div>
  </body>

  </html>
