#details {
  position: absolute;
  bottom: 5%;
  width: 50%; }

.clearfix::before, .row::before, .clearfix::after, .row::after {
  clear: both;
  display: block;
  content: ""; }

#map {
  width: 100%;
  height: 50vh; }

.brand-logo {
  left: 3%; }

.submit-btn {
  float: right; }

.input-field input {
  border-bottom: 1px solid #fff !important; }

.input-field label {
  font-size: 1.1rem !important;
  letter-spacing: 2px; }

.day-category {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.1rem; }

ul li {
  height: 30px;
  margin-bottom: 10px;
  padding-left: 3%; }

#form {
  height: 325px; }

.add-btn {
  margin-top: 20px;
}

.day-button {
  text-align: center;
  margin-right: 5px;
}

#day-buttons {
  display: inline-block;
}

#days {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 0;
}

#itinerary {
  padding: 0;
  height: 275px;
  overflow: auto;
}

#itinerary-items {
  padding: 0;
}

.current-day {
  background-color: #000 !important;
}
