body {
}

#details {
  position: absolute;
  bottom: 5%;
  width: 50%; }

.clearfix {
  &::before, &::after {
    clear: both;
    display: block;
    content: "";
  }
}

.row {
  @extend .clearfix;
}

#map {
  width: 100%;
  height: 50vh;
}

.brand-logo {
  left: 3%;
}



#days {
  padding: 0;
  height: 300px;
  overflow: scroll;
}

#days div {
  padding: 0;
}

.submit-btn {
  float: right;
}

.input-field input {
  border-bottom: 1px solid #fff !important;
}

.input-field label {
  font-size: 1.1rem !important;
  letter-spacing: 2px;
}

.day-category {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

ul li {
  height: 15px;
  margin-bottom: 10px;
  padding-left: 3%;
}

#form {
  height: 300px;
}
